
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans&family=Poppins&family=Roboto&family=Russo+One&family=Saira&family=Saira+Extra+Condensed:wght@600&family=Salsa&family=Secular+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    scroll-snap-align: start;
}

.logo{
    position: absolute;
    left: 2.5rem;
    height: 5.5rem;

}

nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    gap: 1.8rem;
    background-color: #000;
    color: #fff;
    height: 5.5rem;
}
.background-image1{
    background-image: url(../IMAGE/Picture1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    overflow-x: hidden;

}
.main{
    display: flex;
    height: 100vh;
    padding: 12.7rem 2rem;

}
.line{
    width: 6rem;
    padding: 0rem 0.5rem;
    height: 30rem;
    

}
.bits{
    background-color: white;
    width: 1rem;
    height: 0.2rem;
    margin:0.3rem 0rem 1.67rem 0.3rem;

}
.line1{
    width: 2.5rem;
}
.line2{
    width: 1.5rem;
}
.line3{
    width: 1rem;
}
.line4{
    width: 0.8rem;
}
.line5{
    width: o.5rem;
}
.line7{
    text-transform: uppercase;
    font-family: 'Secular One', sans-serif;
    font-weight: 100;
    writing-mode: vertical-rl; 
    margin: 7rem 0.5rem 0rem 0.1rem;
    color: #fff;
}

.line8{
    height: 5rem;
    width: 0.1rem;
    background-color: #fff;
    margin: 1.5rem 0.5rem 0rem 0.8rem;
}

.main-content {
    padding: 1.3rem 3.1rem;
}

.page-1{
    color: #fff;
}

#headline{
    font-family: 'Salsa', cursive;
    font-size: 5rem;
    font-weight: 100;
}

#headline > span{
    font-family: 'Salsa', cursive;
    color: #277CDE;
}

#below-line{
    font-size: 1.2rem;
    font-family: 'Saira', sans-serif;
    font-weight: 100;
}

#below-line > span{
    font-size: 1.8rem;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}
/* page-2 */
.page-2{
    background-color: rgb(0, 0, 0);
    height: 120vh;
    
}
.content{
    display: flex;
    justify-content: center;
    gap: 6rem;
    height: inherit;
    align-items: center;
}
.text-content{
    text-align: center;
    background-color: inherit;
    height: 58vh;
    width: 32vw;
    padding: 4.5rem 3rem 0rem 0.1rem;
    color: #fff;
}
.text-content > h1{
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
    text-align: left;
    font-weight: 100;
}
.text-content > h3{
    text-align: left;
    font-weight: 100;
    font-size: 1.6rem;
    padding-top: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    word-spacing: 0.13rem;
    font-weight: 100;
    line-height: 2rem;
}
/* page-3 */
.page-3{
    height: 120vh;
    background-color: #000;
    color: #fff;
}
.heading{
    text-align: center;
    background-color: rgb(0, 0, 0);
    height: 9rem;
}
.heading > P:nth-child(1){
    font-size: 7rem;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    opacity: 15%;
    word-spacing: 0.2rem;
}
.heading > p:nth-last-child(1){
    position: relative;
    top: -4rem;
    left: 0rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
    filter: drop-shadow(0.1rem 0.2rem 1rem #000);
}
.heading span{
    color: #277CDE;
}

.page-3 > p{
    height: 0.1rem;
    font-size: 18rem;
    position: relative;
    top: -10rem;
    padding-left: 8rem;
    font-family: 'Saira', sans-serif;
    color: transparent;
    -webkit-text-stroke: 7px white;
}
.content-3{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 4rem;
}
.group-pic{
    width: 39rem;
    object-fit: cover;
}
.text-3{
    height: 29rem;
    width: 34rem;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10rem;
    font-size: 1.9rem;
    padding-left: 5.3rem;
}
/* page-4 */
.page-4{
    height: 120vh;
    background-color: #000;
}
.head-4{
    color: white;
    font-family: 'secular one', sans-serif;
    text-align: center;
    height: 8.5rem;

}
 .head-4 > h1{
    font-size: 7rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
    opacity: 20%;
}
.head-4 > p{
    position: relative;
    top: -5rem;
    font-size: 3rem;
}
.page-4> .numbers{
    font-size: 17rem;
    font-family: 'Saira', sans-serif;
    color: transparent;
    -webkit-text-stroke: 7px white;
    margin: -7rem 8rem 0rem 64rem;
    clear: left;
}
.content-4{
    display: flex;
    margin-top: -4rem;
}
.jumba{
    width:44rem;
    margin-left: 11rem;
}
.text > p{
    color: #fff;
    font-family: 'Russo One', sans-serif;
    text-align: start;
    padding: 7rem 3rem 0rem 5rem;
    font-size: 1.6rem;
}
/* page-5 */
.page-5{
    height: 100vh;
    background-color: #000;
    background-image: url(../IMAGE/dance-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    
}
.page-5 > p {
    font-size: 17rem;
    float: left;
    margin: 0rem 0rem 0rem 8rem;
    letter-spacing: 0.1rem;
    font-family: 'Saira', sans-serif;
    color: transparent;
    -webkit-text-stroke: 7px white;
}
.heading-5{
    color: #fff;
    padding: 3rem;
    font-family: 'secular one', sans-serif;
    text-align: start;
    padding-left: 1rem;
    float: right;
}
.heading-5 > p:nth-child(1){
    font-size: 7.7rem;
    opacity: 15%;
    letter-spacing: 0.1rem;
    margin-right: 11rem;
}
.heading-5 > p:nth-child(2){
    font-size: 3rem;
    margin-top: -4.5rem;
    margin-left: 10rem;
    
}
.heading-5 > p:nth-child(3){
    font-size: 1.5rem;
    margin-left: 17rem;
    font-family: 'Open Sans', sans-serif;
}
.heading-5 > p:nth-child(3) > span{
    color: #277CDE;
}
.icon{
    display: flex;
    align-items: flex-end;
    height: 80%;
    margin-bottom: 9rem;
}
.profile{
    width: 13rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    
}
.p-11{
    margin-left: -0.9rem;
}
.p-2{
    margin-left: 15rem;
}
.name{
    width: 16rem;
}
/* page-6 */
.page-6{
    background-color: #000;
    height: 160vh;
    font-family: 'Saira', sans-serif;
}
.page-6> p{
    font-size: 17rem;
    color: transparent;
    -webkit-text-stroke: 7px white;
    margin: -3rem 8rem -7rem 64rem;
    clear: left;
    z-index: 5;
}
.head-6{
    color: white;
    font-family: 'secular one', sans-serif;
    text-align: center;
    height: 8.5rem;
    padding-top: 6rem;

}
 .head-6 > h1{
    font-size: 7rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
    opacity: 20%;
}
.head-6 > p{
    position: relative;
    top: -5rem;
    font-size: 3rem;
    height: 17rem;
}
.pricing{
    height: 40rem;
    display: flex;
    justify-content: space-around; 
    
}
.sub1--option-1{
    width: 26%;
    height: 80vh;
    background-color: #fff;
    filter: brightness(70%);
    
}
.sub1--option-2{
    width: 28%;
    height: 90vh;
    position: relative;
    top: -43rem;
    left: 33.5rem;
    z-index: 3;
    background-color: #fff;
}
.sub1--option-3{
    width: 26%;
    height: 80vh;
    background-color: #fff;
    filter: brightness(70%);

}
.sub1--option-2 > img{
    height: 18%;
    width: 32%;
    margin: 2rem 10rem 0rem 9rem;

}
.sub1--option-1 > img{
    height: 23%;
    width: 28%;
    transform: rotate(212deg);
    margin: 0rem 0rem 0rem 8rem;
}
.sub1--option-3 > img{
    height: 16%;
    width: 25%;
    margin: 1rem 10rem 1.5rem 9rem;
}

/* it selects all the images under this classes */
:where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 3rem 0rem 1rem 0rem;
}

:where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > p{
    font-size: 2rem;
    text-align: center;
    word-spacing: 0.1rem;
    margin: 1rem 3rem 0rem 0rem;
}

:where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > ul{
    font-size: 1.35rem;
    margin: -0.5rem -3rem 0rem 4rem;
    padding: 1rem 0rem;
    font-family: 'roboto', sans-serif;

}

:where(.sub1--option-1 > ul,.sub1--option-2 > ul,.sub1--option-3 > ul) > li{
    list-style-image: url(../IMAGE/check-circle-32.png);
    margin: 1rem 0rem 0rem 0rem;
}
:where(.sub1--option-1 > p,.sub1--option-2 > p,.sub1--option-3 >p) > span{
    font-family: 'Russo One', sans-serif;
    font-size: 2.5rem;
}

:where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > button{
    padding: 1rem 0rem;
    width: 45%;
    font-size: 1.25rem;
    background-color: #277CDE;
    font-family: 'Russo One', sans-serif;

}
:where(.sub1--option-1,.sub1--option-3) > button{
    margin: 1rem 6rem;

}
.sub1--option-2 > button{
    margin: 2rem 6.6rem;
}
/* page-7 */
.page-last{
    height: 120vh;
    background-color: #000;
    font-family: 'Russo One', sans-serif;
}
.page-last > p:nth-child(1){
    font-size: 5rem;
    color: #fff;
    margin: 0rem 42.5rem;
}

.faq-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    width: 70%;
    background-color: transparent;
    margin: 5rem auto;
    font-family: 'roboto', sans-serif;

}
:where(.faq-box-1,.faq-box-2,.faq-box-3){
    display: flex;
    height: 25%;
    background-color: #ffffff;
}
:where(.faq-box-1,.faq-box-2,.faq-box-3) > p:nth-child(1){
    display: flex;
    height: 100%;
    width: 4rem;
    justify-content: center;
    align-items: center;
    background-color: #277CDE;

}
:where(.box-1,.box-2,.box-3) > img{
    width: 32px;
    height: 30px;
    margin-top: 0.3em;
    margin-right: 0.5em;
    background-color: transparent;
}
:where(.box-1,.box-2,.box-3){
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 25%;
    width: 100%;
    margin: 0em 0em 0em 2em;
    justify-content: space-between;


}
.logo-link{
    height: 25vh;
    width: 80%;
    background-color: rgb(0, 0, 0);
    margin: 11rem auto 10rem auto;
}
.logo-link > img{
    height: 12rem;
    background-color: #fff;
    border-radius: 100%;
}
.useful-links{
    float: right;
    height: 15rem;
    margin: 0em 7em 0em 0em;
    color: #ffffff;
}
.useful-links p {
    margin: 2em 0em;
    font-family: 'Russo one', sans-serif;
    font-size: 0.6rem;

}
.useful-links >p:nth-child(1):after {
    content: '';
    display: block;
    width: 80%;
    margin-top: 1.8em;
    height: 0.2rem;
    background: linear-gradient(90deg, #0ac4e9,#3b3b3b);
}
.nav-link{
    height: 4rem;
    width: 100%;
    background-color: #277CDE;
}
.accounts{
    height: 2.5rem;
    background-color: #dcdada;
    width: 7.5%;
    display: inline-block;
    border-radius: 30px;
    margin: 0.7rem 0rem 0rem 1rem;
    padding: 0.3rem 0rem 0rem 0.3em;
}
a > img{
  width: 30px;
  height: auto;
}
