
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans&family=Poppins&family=Roboto&family=Russo+One&family=Saira&family=Saira+Extra+Condensed:wght@600&family=Salsa&family=Secular+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    scroll-snap-align: start;
}

.logo{
    position: absolute;
    left: 2.5rem;
    height: 5.5rem;
    
}
#checkbox{
    color: #000;
    float: right;
    height: 0px;
    display:none;
    
}
.menu-bar {
    height: 0.17rem;
    width: 20px;
    background-color: #fff;
    position: absolute;
    top: 3rem;
    right: 2rem;
    z-index: 9;
    transition: 0.4s ease-in-out;
}
.menu-bar::before{
    content: "";
    height: 0.17rem;
    width: 20px;
    background-color: #fff;
    position: absolute;
    top: -0.6rem;
    right: 0rem;
    z-index: 9;
    transition: all .4s ease-in-out;
}
.menu-bar::after{
    content: "";
    height: 0.17rem;
    width: 20px;
    background-color: #fff;
    position: absolute;
    top: 0.6rem;
    right: 0rem;
    z-index: 9;
    transition: all .4s ease-in-out;
}

nav > ul{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    gap: 1.8rem;
    background-color: #000000;
    color: #fff;
    height: 5.5rem;
    white-space: nowrap;
}
@media screen and (max-width:830px) {
    
    .logo{
        height: 63px;
        left: 0.45rem;
        top: 0.5rem;
        z-index: 4;
    }
}

@media only screen and (max-width : 730px) {
     nav > ul >li{
        background-color: rgba(0,0,0,0.4);
        height: 2.5rem;
        width: 70%;
        text-align: center;
        padding-top: 0.6rem;
        border-radius: 20px;
    }
    nav > ul {
        flex-direction: column;
        justify-content: flex-end;
        height: 0rem;
        gap: .6rem;
        background-color: rgb(32 42 44 / 60%);
        border: 1px #fff;
        transition: all .4s ease-in-out;
        position: absolute;
        top: -50%;
        width: 100vw;
        z-index: 3;
    }

    input[type=checkbox]:checked ~ ul{
        height: 18rem;
        top: 0;
    }
    input[type=checkbox]:checked + .menu-bar{
            background-color: transparent;
    }
    input[type=checkbox]:checked + .menu-bar::before{
        top: 3px;
        width: 22px;
        transform: rotate(50deg);
    }
    input[type=checkbox]:checked + .menu-bar::after{
        bottom: 3px;
        width: 22px;
        transform: rotate(-50deg);
    }
}
@media screen and (min-width :730px) {
   input[type=checkbox]{
    display: none;
   }
    .menu-bar{
    display: none;
   }
}
.background-image1{
    background-image: url(../IMAGE/Picture1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    overflow-x: hidden;

}
.main{
    display: flex;
    height: 100vh;
    padding: 12.7rem 2rem;

}
.line{
    width: 6rem;
    padding: 0rem 0.5rem;
    height: 30rem;
    
}
.bits{
    background-color: white;
    width: 1rem;
    height: 0.2rem;
    margin:0.3rem 0rem 1.67rem 0.3rem;

}
.line1{
    width: 2.5rem;
}
.line2{
    width: 1.5rem;
}
.line3{
    width: 1rem;
}
.line4{
    width: 0.8rem;
}
.line5{
    width: o.5rem;
}
.line7{
    text-transform: uppercase;
    font-family: 'Secular One', sans-serif;
    font-weight: 100;
    writing-mode: vertical-rl; 
    margin: 7rem 0.5rem 0rem 0.1rem;
    color: #fff;
}

.line8{
    height: 5rem;
    width: 0.1rem;
    background-color: #fff;
    margin: 1.5rem 0.5rem 0rem 0.8rem;
}

.main-content {
    padding: 1.3rem 3.1rem;
}

.page-1{
    color: #fff;
}

#headline{
    font-family: 'Salsa', cursive;
    font-size: 5rem;
    font-weight: 100;
}

#headline > span{
    font-family: 'Salsa', cursive;
    color: #277CDE;
}

#below-line{
    font-size: 1.2rem;
    font-family: 'Saira', sans-serif;
    font-weight: 100;
}

#below-line > span{
    font-size: 1.8rem;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width : 414px) {
   
    .bits{
        background-color: white;
        height: 0.2rem;
        margin:0.3rem 0rem 1.67rem 0.3rem;
    }
    #below-line{
        font-size: 1.1rem;
        font-family: 'Saira', sans-serif;
        font-weight: 100;
    }
    
    #below-line > span{
        font-size: 1rem;
        font-weight: 100;
        font-family: 'Open Sans', sans-serif;
    } 
}
    @media screen and (max-width : 570px){
        .main{
        padding: 15rem 0rem;
    }
    .main-content {
        padding: 2rem 0.5rem;
    }
    #headline{
        font-family: 'Salsa', cursive;
        font-size: 3.5rem;
        font-weight: 100;
    }
    #below-line{
        font-size: 1.5rem;
        font-family: 'Saira', sans-serif;
        font-weight: 100;
    }

}
/* page-2 */
.page-2{
    background-color: rgb(0, 0, 0);
    height: 120vh;
    
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    height: inherit;
    align-items: center;
}
.text-content{
    text-align: center;
    background-color: inherit;
    height: 58vh;
    width: 32vw;
    padding: 4.5rem 3rem 0rem 0.1rem;
    color: #fff;
}
.text-content > h1{
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
    text-align: left;
    font-weight: 100;
}
.text-content > h3{
    text-align: left;
    font-weight: 100;
    font-size: 1.6rem;
    padding-top: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    word-spacing: 0.13rem;
    font-weight: 100;
    line-height: 2rem;
}
.map{
    width: 35vw;
    height: 65vh;
}
.map iframe{
    border-radius: 20px;
}
@media screen and (max-width:900px){
    .content{
        display: block;
    }
    .text-content{
        margin: 0 auto;
        width: 89vw;
        height: auto;
        padding: 4.5rem 0 0 0;

    }
    .map{
        margin: 3rem auto 0 auto;
        width: 63vw;
        height: 53vh;
    }
}
@media screen and (max-width:500px){
    .text-content >h1{
        font-size: 2rem;
    }
    .text-content >h3{
        font-size: 1.2rem;
    }
    .map{
        margin: 3rem auto 0 auto;
        width: 80%;
        height: 40%;
    }
    }
/* page-3 */
.page-3{
    height: 126vh;
    background-color: #000;
    color: #fff;
}
.heading{
    text-align: center;
    background-color: rgb(0, 0, 0);
    height: 9rem;
}
.heading > P:nth-child(1){
    font-size: 7rem;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    opacity: 15%;
    word-spacing: 0.2rem;
}
.heading > p:nth-child(2){
    position: relative;
    top: -4rem;
    left: 0rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
    filter: drop-shadow(0.1rem 0.2rem 1rem #000);
}
.heading span{
    color: #277CDE;
}

.page-3 > p{
    height: 0.1rem;
    font-size: 18rem;
    position: relative;
    top: -10rem;
    padding-left: 8rem;
    font-family: 'Saira', sans-serif;
    color: transparent;
    -webkit-text-stroke: 7px white;
}
.content-3{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 4rem;
}
.group-pic{
    width: 39rem;
    object-fit: contain;
    border-radius: 40px;
}
.text-3{
    height: 29rem;
    width: 34rem;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9rem;
    padding-top: 8rem;
    padding-left: 5.3rem;
}
@media screen and (max-width:1200px) {
    .page-3 > p{
        padding-left: 0rem;
    }
    .group-pic{
        width: 31rem;
        padding-left: 1rem;
        object-fit: contain;
    }
     .text-3{
        font-size: 1.6rem;
        padding: 8rem 0.1rem 0 2.3rem;
        }
}
@media screen and (max-width: 810px){
    .group-pic{
        width: 28rem;
        object-fit: contain;
        border-radius: 40px;
    }
    
    .content-3{
        flex-direction: column;
    }
    .page-3 > p{
        font-size: 12rem;
        position: relative;
        top: -7rem;
        padding-left: 2rem;
    }
    .heading > P:nth-child(1){
        font-size:  4.8rem ;
        letter-spacing: 0;
        white-space:nowrap;
    }
    .text-3{
        height: 14rem;
        width: 30rem;
        padding: 3rem 0 0 0;
    }
}
@media screen and (max-width: 500px) {
    .heading > p:nth-child(1){
    font-size: 3.5rem;
    }
    .heading > p:nth-child(2){
    position: relative;
    top: -2rem;
    left: 0rem;
    font-size: 1.7rem;
    }
    .group-pic{
        width: 90%;
        object-fit: contain;
        
    }
    .text-3{
        height: 18.5rem;
        width: 80%;
        font-size: 1.4rem;
        padding: 3rem 0 0 0;
    }
    
}
@media screen and (max-width: 375px) {
    .heading > p:nth-child(1){
        font-size: 2.8rem;
        overflow-x: hidden;
    }
    .heading > p:nth-child(2){
        position: relative;
        top: -2rem;
        left: 0rem;
        overflow-x: hidden;
    }
    .group-pic{
        width: 90%;
        object-fit: contain;
    }
    .text-3{
        height: 18.5rem;
        width: 80%;
        font-size: 1.4rem;
        padding: 3rem 0 0 0;

    }
    .page-3 > p{
        font-size: 7rem;
        position: relative;
        top: -7rem;
        -webkit-text-stroke: 0px rgb(0, 0, 0);
        color: white;
        padding-left: 0rem;

}

}
/* page-4 */
.page-4{
    height: 125vh;
    background-color: #000;
}
.head-4{
    color: white;
    font-family: 'secular one', sans-serif;
    text-align: center;
    height: 8.5rem;

}
 .head-4 > h1{
    font-size: 7rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
    opacity: 20%;
}
.head-4 > p{
    position: relative;
    top: -5rem;
    font-size: 3rem;
}
.page-4> .numbers{
    font-size: 17rem;
    font-family: 'Saira', sans-serif;
    color: transparent;
    -webkit-text-stroke: 7px white;
    margin: -8rem 8rem -8rem 0rem;
    float: right;
    clear: both;
}
.content-4{
    display: flex;
    margin-top: 16rem;
}
.jumba{
    width: 60vw;
    object-fit: contain;
    max-width: 44rem;
    margin-left: 8vw;
    border-radius : 30px;
}
.text {
    color: rgb(255, 255, 255);
    font-family: "Russo One", sans-serif;
    text-align: start;
    padding: 7rem 8rem 0rem 5rem;
    font-size: 1.6rem;
}
@media screen and (max-width : 1200px){
.jumba{
    max-width:60%;
    margin-left: 8vw;
    border-radius: 30px;
    margin: 0 auto;

    }
    .page-4> .numbers{
    margin-right: 1rem;
    }
    .text{

        padding: 2rem 0 0 1rem;
        font-size: 1.4rem;
        font-weight: 100;

    }
}
@media screen and (max-width : 810px){
    .head{
        overflow-x: hidden;
    }
    .head-4 > h1{
    font-size: 3.4rem;
    overflow: hidden;
    letter-spacing: 0;
 }
 .head-4 > p {
    top: -3rem;
}
 .page-4 > .numbers{
    font-size: 11rem;
    margin: -4rem 0 0 0;
 }
 .content-4{
    display: block;
    margin-top: 15rem;
    overflow: hidden;
    text-align: center;

}
.jumba{
    max-width: 90% !important;
    width: 30rem !important;
   

}
@media screen and (max-width: 375px) {
    .head-4 > p{
        font-size: 2rem;

    }
 .content-4{
        margin: 6rem 0 0 0;
 }
    .page-4 > .numbers{
        margin: 3rem 0 -19rem 0;
        font-size: 7rem;
        position: relative;
        top: -7rem;
        -webkit-text-stroke: 0px rgb(0, 0, 0);
        color: white;
        padding-left: 0rem;
    }
    .text{
        font-size: 1rem;
        padding: 5rem 2rem 0 2rem;
        line-height: 1.8rem;
    }

}
}
/* page-5 */
.page-5{
    height: 100vh;
    background-color: #000;
    background-image: url(../IMAGE/dancing-girl.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}
.content-p-5{
    height: 100%;
}
.page-5 > p {
    font-size: 17rem;
    font-family: 'Saira', sans-serif;
    color: transparent;
    float: right;
    -webkit-text-stroke: 7px white;
}
.heading-5{
    color: #fff;
    font-family: 'secular one', sans-serif;
    text-align: start;
    float: right;
    background-color: transparent;
}
.heading-5 > p:nth-child(1){
    font-size: 7.7rem;
    opacity: 15%;
    letter-spacing: 0.1rem;
    margin-right: 11rem;
}
.heading-5 > p:nth-child(2){
    font-size: 3rem;
    margin-top: -4.5rem;
    margin-left: 10rem;
    
}
.heading-5 > p:nth-child(3){
    font-size: 1.5rem;
    margin-left: 17rem;
    font-family: 'Open Sans', sans-serif;
}
.heading-5 > p:nth-child(3) > span{
    color: #277CDE;
}
.icon{
    display: flex;
    align-items: end;
    height: 25.82rem;
    margin-bottom: 0rem;
}
.center-profile{
    display: flex;
    gap: 13rem;
    justify-content: center;
}
.profile{
    width: 13rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    white-space: nowrap;
    padding-top: 1.7rem;
    
}

.name{
    padding-bottom: 0.5rem;
}
 .pn-1{ 
     margin-left: -1rem;
}    
 .pn-2{ 
     margin-left: 1rem;
}    
@media screen and (max-width : 1309px) {
    .center-profile{
       width: 100%;
    }
    .heading-5 > p:nth-child(1){
        margin-left: -2rem;
        margin-right: 0;
    }

}
@media screen and (max-width : 1100px) {
    .page-5 > p {
    font-size: 16rem;
    margin-right: 6rem;
}
    .heading-5 {
        margin-left: -8rem;
    }
    .heading-5 > p:nth-child(1){
        font-size: 6rem;
    }
    .heading-5 > p:nth-child(2) {
        font-size: 2.6rem;
        text-align: center;
        margin-top: -3.6rem;
        margin-left: 2rem;
    }
    .heading-5 > p:nth-child(3){
        font-size: 1.1rem;
    margin-left: 17rem;
    }
    .icon {
        height: 21rem;
    }
    .profile{
        width: 11rem;
        font-size: 1rem;
    }
    .pn-1{
        margin-left: 0.6rem;
    }
    .pn-2{ 
        margin-left: 0.9rem;
   }   
}
@media screen and (max-width: 1019px) {
    .page-5 > p {
        font-size: 9rem;
        padding-top: 4rem;
        margin-right: 9rem;
    }
    .heading-5 {
        margin-left: -19rem;
    }
    .icon{
    margin-top: 3rem;
    align-items: start;

    }
}
@media screen and (max-width : 715px) {
    .page-5{
        justify-content: start;
    }
}
@media screen and (max-width:624px) {
    .heading-5 > p:nth-child(1) {
        font-size: 14vh;
        text-align: center;
    }
    .heading-5 > p:nth-child(2) {
        font-size: 2.6rem;
        text-align: center;

    }
    .center-profile{
        gap:3rem;
    }
}
@media screen and (max-width : 595px) {
    .center-profile {
        gap: 0rem;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
    }
    .heading-5 > p:nth-child(3) {
        margin-left: 10rem;
    }
    .heading-5 > p:nth-child(2){
        font-size: 2rem;
        padding-top: 0.5rem;
        text-align: center;
    }
    .heading-5 > p:nth-child(1) {
        font-size: 14vw;
        padding-left: 1rem;
        text-align: center;
    }
    .profile {
        width: 19vh;
        font-size: 1.7vh;
        padding: 0.2rem;
    }
}
@media screen and (max-width:360px){
    .heading-5 > p:nth-child(2){
        text-align: start;
    }
    .heading-5 > p:nth-child(3){
        font-size: 0.9rem;
        margin-left: 0rem !important;
    }
}
@media screen and (max-width:321) {
    .heading-5 > p:nth-child(1){
        font-size: 10vw;
    text-align: center;
    padding-left: 2rem;
    }
    
}
    /* page-6 */
.page-6{
    background-color: #000;
    height: 190vh;
    font-family: 'Saira', sans-serif;
    overflow: hidden;
}
.page-6> p{
    font-size: 17rem;
    color: transparent;
    -webkit-text-stroke: 7px white;
    margin: -1rem 8rem -7rem 0rem;
    float: right;
    clear: left;
    z-index: 5;
}
.head-6{
    color: white;
    font-family: 'secular one', sans-serif;
    text-align: center;
    height: 8.5rem;
    padding-top: 6rem;

}
 .head-6 > h1{
    font-size: 7rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
    opacity: 20%;
}
.head-6 > p{
    position: relative;
    top: -5rem;
    font-size: 3rem;
    height: 17rem;
}
.pricing{
    width: 100vw;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    scroll-snap-type:mandatory;
    
}
.sub1--option-1{
    width: 26%;
    background-color: #fff;
    filter: brightness(70%);
    border-radius: 10px;
    min-width: 22rem;
    overflow: hidden;
    
}
.sub1--option-2{
    width: 26%;
    background-color: #fff;
    filter : brightness(100%);
    transform: scale(1.03);
    border-radius: 10px;
    min-width: 22rem;
    z-index: 2;
    overflow: hidden;
    
}
.sub1--option-3{
    width: 26%;
    background-color: #fff;
    filter: brightness(70%);
    min-width: 22rem;
    border-radius: 10px;
    overflow: hidden;
    
    
}
.sub1--option-1:hover{
    transform: scale(1.03);
}
.img-6-2 > img{
    height: 18%;
    width: 32%;
    margin: 2rem 10rem 0rem 9rem;

}
.img-6 > img{
    height: 23%;
    width: 28%;
    transform: rotate(212deg);
    margin: 0rem 0rem 0rem 8rem;
    mix-blend-mode: multiply;
}
.img-6-3 > img{
    height: 16%;
    width: 25%;
    margin: 1rem 10rem 1.5rem 9rem;
}

/* it selects all the images under this classes */
:where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 3rem 0rem 1rem 0rem;
}

:where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > p{
    font-size: 2rem;
    text-align: center;
    word-spacing: 0.1rem;
    margin: 1rem 3rem 0rem 0rem;
}

:where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > ul{
    font-size: 1.35rem;
    margin: -0.5rem -3rem 0rem 4rem;
    padding: 1rem 0rem;
    font-family: 'roboto', sans-serif;
    
}

:where(.sub1--option-1 > ul,.sub1--option-2 > ul,.sub1--option-3 > ul) > li{
    list-style-image: url(../IMAGE/check-circle-32.png);
    margin: 1rem 0rem 0rem 0rem;
}
:where(.sub1--option-1 > p,.sub1--option-2 > p,.sub1--option-3 >p) > span{
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
}

:where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > button{
    padding: 1rem 0rem;
    width: 45%;
    margin:1rem 6rem;
    font-size: 1.25rem;
    background-color: #277CDE;
    font-family: 'Russo One', sans-serif;

}
 .sub1--option-1 > button {
        margin: 2rem 6rem;
}
    @media screen and (min-width : 1038px) {
        .sub1--option-1:hover{
        filter: brightness(100%);
        transform: scale(1.03);
        z-index: 3;
    }
    .sub1--option-1:hover ~ .sub1--option-2{
        filter: brightness(70%);
        transform: scale(1);
    }
    .sub1--option-3:hover{
        filter: brightness(100%);
        transform: scale(1.03);
        z-index: 3;
    }
    .sub1--option-3:hover .sub1--option-2{
        filter: brightness(70%);
        transform: scale(1);
    }
    
}
    
/* @media screen and (max-width: 1037px){ */
   
    /* .pricing > .sub{
        width: 56%;
        max-width: 18rem;
        height: 36rem;

            min-width: 21rem;
    }
    :where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > ul{
        margin: -1.5rem -3rem 0rem 8rem;
        
    }
    :where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > p{
        margin: 0rem 3rem 0rem 0rem;
    }
    :where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > button {
        padding: 1rem 2rem;
        width: 45%;
        margin: 0px 7rem;

    }
    .img-6 {
        margin: 0;
        width: 29rem;
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .img-6 > img {
        margin: 0;
    }
    .head-6 > h1{
        font-size: 5rem;
        font-weight: 100;
        letter-spacing: 0.5rem;
        opacity: 20%;
    }
    .head-6 > p{
        position: relative;
        top: -5rem;
        font-size: 3rem;
        height: 17rem;
    }
    .sub1--option-2 > img {
        height: 18%;
        width: 32%;
        margin: 0rem 10rem 0rem 9rem;
    }
    .img-6{
        margin: 0;
    }
    .img-6-2{
    display: inline-block;
    text-align: center;
    width: 97%;
    }
    .img-6-2 > img {
        height: 18%;
        width: 32%;
        margin: 0;
    }
    .img-6-3 > img {
       margin: 0;
    }.img-6-3 {
        width: 100%;
        text-align: center;
    }
    
} */
@media screen and (max-width : 1037px) {
    .img-6-2 > img {
        height: 18%;
        width: 29%;
        margin: 0rem 10rem 0rem 8rem;
    }
    .img-6-3 > img {
        height: 16%;
        width: 25%;
        margin: -1rem 10rem 1.5rem 8rem;
    }
    .page-6{
        height: 235vh;
    }
    .pricing > .sub{
        width: 56%;
        max-width: 18rem;
        height: 27rem;

            min-width: 21rem;
    }
    .pricing{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    /* .pricing > .sub {
        height: 27rem;
    } */
    :where(.sub1--option-1 > ul,.sub1--option-2 > ul,.sub1--option-3 > ul) > li {
        margin: 0.5rem 0rem 0rem 0rem;
    }
    :where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > p {
        margin: 0;
     font-size: 1.3rem;
    }
    :where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > ul {
        font-size: 1.1rem;
    }
    .sub1--option-1 > button {
        margin: 0rem 6rem;
    }
    :where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > button {
        padding: 0;
        width: 49%;
        height: 2rem;
        border-radius: 10px;
        margin: 0px 6rem;
    }
    .head-6 > h1 {
        font-size: 12vw;
        font-weight: 100;
        letter-spacing: 0.5rem;
        opacity: 20%;
    }
    .head-6 > p {
        position: relative;
        top: -2rem;
        font-size: 7vw;
        height: 17rem;
    }
    .page-6> p {
        font-size: 11rem;
        margin: 0;
    }
    :where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > ul {
        margin: -1.5rem -3rem -0.6rem 3rem;
    }
}
@media screen and (max-width: 530px) {
    .img-6-2{
      text-align: center;
    }
    .head-6 > h1 {
        font-size: 10vw;
        letter-spacing: 0;
    }
    .pricing > .sub {
        height: 17rem;
        min-width: 17rem;
    }
    :where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > h1 {
        padding: 0;
        font-size: 1.6rem;
    }
    .img-6 > img {
        width: 20%;
    }
    :where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > p {
        margin: -1rem 1rem 0rem 0rem;
        font-size: 1rem;
    }
    :where(.sub1--option-1 > p,.sub1--option-2 > p,.sub1--option-3 >p) > span {
        font-family: 'Russo One', sans-serif;
        font-size: 1.3rem;
    }
    :where(.sub1--option-1 > ul,.sub1--option-2 > ul,.sub1--option-3 > ul) > li {
        list-style-image: url(../IMAGE/check-circle-32.png);
        margin: 0.1rem 0rem 0rem 0rem;
        font-size: 1rem;
    }
    :where(.sub1--option-1,.sub1--option-2,.sub1--option-3) > button {
        margin: 0rem 4rem !important;
        width: 48%;
        height: 14%;
        padding: 0;
        font-size: 1rem;
        border-radius: 12px;
    }
    .img-6-2 > img {
        height: 19%;
        width: 25%;
        margin: 0;
        margin-bottom: 0.2rem;
    }
    .img-6-3 > img {
        height: 16%;
        width: 18%;
        padding-bottom: 0.4rem;
        margin: 0rem 10rem 0.5rem 8rem;
    }
}
/* page-7 */
.page-last{
    height: 122vh;
    background-color: #000;
    font-family: 'Russo One', sans-serif;
    overflow: hidden;
}
.faq{
    font-size: 5rem;
    color: #fff;
    text-align: center;

}

.faq-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    width: 70%;
    background-color: transparent;
    margin: 5rem auto;
    font-family: 'roboto', sans-serif;

}
:where(.faq-box-1,.faq-box-2,.faq-box-3){
    display: flex;
    height: 25%;
    background-color: #ffffff;
}
:where(.faq-box-1,.faq-box-2,.faq-box-3) > p:nth-child(1){
    display: flex;
    height: 100%;
    width: 4rem;
    justify-content: center;
    align-items: center;
    background-color: #277CDE;

}
:where(.box-1,.box-2,.box-3) > img{
    width: 32px;
    height: 30px;
    margin-top: 0.3em;
    margin-right: 0.5em;
    background-color: transparent;
}
:where(.box-1,.box-2,.box-3){
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 25%;
    width: 100%;
    margin: 0em 0em 0em 2em;
    justify-content: space-between;


}
.logo-link{
    height: 25vh;
    width: 80%;
    background-color: rgb(0, 0, 0);
    margin: 11rem auto 10rem auto;
}
.logo-link > img{
    height: 12rem;
    background-color: #fff;
    border-radius: 100%;
}
.useful-links{
    float: right;
    height: 15rem;
    margin: 0em 7em 0em 0em;
    color: #ffffff;
}
.useful-links p {
    margin: 2em 0em;
    font-family: 'Russo one', sans-serif;
    font-size: 0.6rem;

}
.useful-links >p:nth-child(1):after {
    content: '';
    display: block;
    width: 80%;
    margin-top: 1.8em;
    height: 0.2rem;
    background: linear-gradient(90deg, #0ac4e9,#3b3b3b);
}
.nav-link{
    height: 4rem;
    width: 100%;
    background-color: #277CDE;
}
.accounts {
    height: auto;
    background-color: #dcdada;
    width: 8vw;
    display: inline-block;
    border-radius: 30px;
    margin: 0.7rem 0rem 0rem 1rem;
    padding: 0.3rem 0rem 0rem 0.3em;
}
 a > img{
  width: 2vw;
  height: auto;
} 
@media screen and (max-width :728px) {
    .logo-link > img {
        height: 9rem;
        background-color: #fff;
        border-radius: 100%;
    }
    .logo-link {
        width: 100%;
    }
    .useful-links {
        margin: 0em 1em 0em 0em;

    }
    a > img {
        width: 1rem;
        height: auto;
    }
    .accounts {
        width: 4.2rem;
    }
    :where(.box-1,.box-2,.box-3) {
        margin: 0em 0em 0em 1em;
    }
    :where(.box-1,.box-2,.box-3) > p{
        font-size: 1rem;
    }
    :where(.faq-box-1,.faq-box-2,.faq-box-3) {
        min-width: 19rem;

    }
}
@media screen and (max-width : 362px) {

.faq-container {
 margin: 0;
} 
}
